<%- include("partials/header.ejs") %>

<p>Use this site to get your weather!</p>
<form>
    <input placeholder="Location">
    <button type="submit" value="">Search</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
<img>
</div>

<script src = "js/app.js"></script>

<%- include("partials/footer.ejs") %>